* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.vid-cont{
  padding: 2px;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.vid-cont video{
  height: 100%;
  width: 100%;
}

.action-cont{
  height: 12rem;
  width: 5rem;
  /* background-color: lightgrey; */
  position: absolute;
  top:12rem;
  right:5rem;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.action-cont > *{
  width: 120%;
  height: 5rem;
  border-radius: 100%;
  border: wheat solid 2px;
  display: flex;
  justify-content: center;
  padding: 25px;
  align-items: center;
}

.record-btn{
  background-color: red;
  height: 3rem;
  width: 100rem;
  cursor: pointer;
  border-radius: 50%;
}
.scale-record{
  animation-name: scale-record;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.Capture-btn{
  background-color: white;
  height: 3rem;
  width: 100rem;
  cursor: pointer;
  border-radius: 50%;
}
.scale-capture{
  animation-name: scale-record;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes scale-record {
  0%{
    transform: scale(0.8);
  }
  100%{
    transform: scale(1.1);
  }
}